<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table {
      width: 100%;
      border: 1px solid #444444;
      text-align: center;
    }

    th, td {
      border: 1px solid #444444;
    }
  </style>
</head>
<body>
<h1>가족관계증명서</h1>
발급일 : <p th:text="${certificateIssue.certificateIssueDate}"></p><br />
증명서 확인번호 : <p th:text="${certificateIssue.certificateId}"></p><br />
등록기준지(본적) : <p th:text="${resident.registrationBaseAddress}"></p><br />
본인 <span>
  <a th:text="${resident.name}"></a>
  <a th:text="${resident.birthDate}"></a>
  <a th:text="${resident.residentRegistrationNumber}"></a>
  <a th:text="${resident.genderCode}"></a>
</span>
<table>
  <tr>
    <th>구분</th>
    <th>성명</th>
    <th>출생연월일</th>
    <th>주민등록번호</th>
    <th>성별</th>
  </tr>
  <tr th:each="resident : ${residents}">
    <td th:text="${resident.familyRelationshipCode}">구분</td>
    <td th:text="${resident.name}">성명</td>
    <td th:text="${resident.birthDate}">출생연월일</td>
    <td th:text="${resident.residentRegistrationNumber}">주민등록번호</td>
    <td th:text="${resident.genderCode}">성별</td>
  </tr>
</table>
<a href="/">처음으로</a><br />
</body>
</html>